<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
        <link th:href="@{/static/css/main.css}" rel="stylesheet"/>
        <script src="/static/js/jquery-1.10.2.min.js"></script>
    </head>
    <body>

        <div class="ribbon">
			<a href="http://localhost:8080/api/model/list">MODELS</a>
			<a href="http://localhost:8080/api/workflow/list">WORKFLOWS</a>
			<a href="http://localhost:8080/api/visualization/list">VISUALIZATION</a>
			<a href="http://localhost:8080/api/simulate">SIMULATION</a>
		</div>

        <main>
            <div class="row">
                <label> UUID: </label>
                <input id="uuid" value="eaf30e82-6414-45a0-aa3f-e3e89ebe8ab0" />
            </div>
            <div class="row">
                <button id="connect" type="button">Connect</button>
                <button id="disconnect" type="button" disabled="disabled">Disconnect</button>
            </div>
            <div class="row">
                <label> Received: </label>
                <br>
                <textarea id="resultsmessage" readonly></textarea>
                <br>
                <button id="send" type="submit">Send</button>
            </div>
        </main>

        <script type="module" src="/static/js/demo.js"></script>

    </body>
