<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
        <link th:href="@{/static/css/main.css}" rel="stylesheet"/>
    </head>

    <body>

        <div class="ribbon">
			<a href="http://localhost:8080/api/model/list">MODELS</a>
			<a href="http://localhost:8080/api/workflow/list">WORKFLOWS</a>
			<a href="http://localhost:8080/api/visualization/list">VISUALIZATION</a>
			<a href="http://localhost:8080/api/simulate">SIMULATION</a>
		</div>

        <main>
            <div class="row">
                <label>UUID: </label><input id="uuid" type="text" value="3f85a4a6-93a5-4cc4-a55e-5633b48010ae"/>
            </div>
            <div class="row">
				<button id="connect">Connect</button>
			</div>
            <div class ="row">
                <label> Received: </label>
                <br>
                <textarea id="received" readonly></textarea>
            </div>
            <div class ="row">
                <button id="disconnect">Disconnect</button>
            </div>
        </main>


        <script type="module" src="/static/js/demo.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
    </body>