<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/static/css/main.css}" rel="stylesheet"/>
	</head>

	<body>
		<div class="ribbon">
			<a href="http://localhost:8080/api/model/list">MODELS</a>
			<a href="http://localhost:8080/api/workflow/list">WORKFLOWS</a>
			<a href="http://localhost:8080/api/visualization/list">VISUALIZATION</a>
			<a href="http://localhost:8080/api/simulate">SIMULATION</a>
		</div>
		
		<main>
			<h1>Model metadata</h1>
			
			<div class="indent">
				<div class="row">
					<label>UUID: </label><span th:text="${model.identifier}"></span>
				</div>
				
				<div class="row">
					<label>Title(s): </label><span th:text="${#strings.listJoin(model.title, ', ')}"></span>
				</div>
				
				<div class="row">
					<label>Alternative Title(s): </label><span th:text="${#strings.listJoin(model.alternative, ', ')}"></span>
				</div>
				
				<div class="row">
					<label>Creator(s): </label><span th:text="${#strings.listJoin(model.creator, ', ')}"></span>
				</div>
				
				<div class="row">
					<label>Contributor(s): </label><span th:text="${#strings.listJoin(model.contributor, ', ')}"></span>
				</div>
				
				<div class="row">
					<label>Type: </label><span th:text="${model.type}"></span>
				</div>
				
				<div class="row">
					<label>Language(s): </label><span th:text="${#strings.listJoin(model.language, ', ')}"></span>
				</div>
				
				<div class="row">
					<label class="full">Description(s): </label>
				</div>
				<div class="row indent large">
					<div class="row" th:each="description : ${model.description}"><span th:text="${description}"></span></div>
				</div>
				
				<div class="row">
					<label>Subject(s): </label><span th:text="${#strings.listJoin(model.subject, ', ')}"></span>
				</div>
				
				<div class="row">
					<label class="full">Spatial coverage(s): </label>
				</div>
				<ul class="row">
					<li th:each="sc : ${model.spatial_coverage}">
						<div class="row tight"><label>Placename(s): </label><span th:text="${#strings.listJoin(sc.placename, ', ')}"></span></div>
						<div class="row"><label>Extent(s): </label></div>
						<div class="row indent" th:each="ex : ${sc.extent}">
							<div class="row tight"><label>Spatial reference: </label><span th:text="${ex.reference}"></span></div>
							<div class="row tight"><label>X min: </label><span th:text="${ex.x_min}"></span></div>
							<div class="row tight"><label>Y min: </label><span th:text="${ex.y_min}"></span></div>
							<div class="row tight"><label>X max: </label><span th:text="${ex.x_max}"></span></div>
							<div class="row tight"><label>Y max: </label><span th:text="${ex.y_max}"></span></div>
						</div>
					</li>
				</ul>
				
				<div class="row">
					<label class="full">Temporal coverage(s): </label>
				</div>
				<ul class="row">
					<li th:each="tc : ${model.temporal_coverage}">
						<div class="row tight"><label>Start: </label><span th:text="${tc.start}"></span></div>
						<div class="row tight"><label>End: </label><span th:text="${tc.end}"></span></div>
						<div class="row"><label>Scheme: </label><span th:text="${tc.scheme}"></span></div>
					</li>
				</ul>
					
				<div class="row">
					<label>License(s): </label><span th:text="${#strings.listJoin(model.license, ', ')}"></span>
				</div>
				
				<div class="row">
					<label>Date created: </label><span th:text="${model.created}"></span>
				</div>
				
				<div class="row">
					<label>Date(s) modified: </label><span th:text="${#strings.listJoin(model.modified, ', ')}"></span>
				</div>
				
				<div class="row">
					<label>Time schema: </label><span th:text="${model.time}"></span>
				</div>
				
				<div class="row">
					<label class="full">Behavior(s): </label>
				</div>
				<div class="row indent large">
					<div class="row" th:each="behavior : ${model.behavior}"><span th:text="${behavior}"></span></div>
				</div>
				
				<th:block th:if="${model.type == 'atomic'}">
				<div class="row">
					<label class="full">State: </label>
				</div>
				<div class="row indent">
					<div class="row tight"><label>Message id: </label><span th:text="${model.state.message}"></span></div>
					<div class="row">
						<label class="full">Description: </label><span th:text="${model.state.description}"></span>
					</div>
				</div>
				</th:block>
				
				<th:block th:if="${model.type == 'coupled'}">
					<!-- List<Subcomponent> subcomponent; -->
					<!-- List<Coupling> coupling; -->
				</th:block>
				
				<div class="row">
					<label class="full">Port(s): </label>
				</div>
				<ul class="row">
					<li th:each="port : ${model.port}">
						<div class="row tight"><label>Type: </label><span th:text="${port.type}"></span></div>
						<div class="row tight"><label>Name: </label><span th:text="${port.name}"></span></div>
						<div class="row"><label>Message id: </label><span th:text="${port.message}"></span></div>
					</li>
				</ul>
				
				<div class="row">
					<label class="full">Message(s): </label>
				</div>
				<ul class="row">
					<li th:each="msg : ${model.message}">
						<div class="row tight"><label>Identifier: </label><span th:text="${msg.identifier}"></span></div>
						<div class="row"><label>Field(s): </label></div>
						<ul class="row">
							<li class="row" th:each="field : ${msg.field}">
								<div class="row tight"><label>Name: </label><span th:text="${field.name}"></span></div>
								<div class="row tight"><label>Description: </label><span th:text="${field.description}"></span></div>
								<div class="row tight"><label>Type: </label><span th:text="${field.type}"></span></div>
								<th:block th:if="${field.uom != null}">
								<div class="row tight"><label>Unit of measure: </label><span th:text="${field.uom}"></span></div>
								</th:block>
								<th:block th:if="${field.scalar != null}">
								<div class="row tight"><label>Scalar factor: </label><span th:text="${field.scalar}"></span></div>
								</th:block>
								<th:block th:if="${field.decimals != null}">
								<div class="row"><label>Decimals: </label><span th:text="${field.decimals}"></span></div>
								</th:block>
							</li>			
						</ul>			
					</li>
				</ul>
			</div>
		</main>
	</body>
</html>