<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/static/css/main.css}" rel="stylesheet"/>

		<script type="text/javascript" th:src="@{/static/js/util.js}"></script>
		
		<script th:inline="javascript">
			function get_data() {				
				const data = new FormData();
				
				read_files("file", data, "config", true);
				read_value("iterations", data, "iterations", false);
				read_value("duration", data, "duration", false);
				
				return data;
			}
		
			function on_click(url, uuid) {			
				try {					
					post(url, get_data()).then(response => get_blob(response))
								   		 .then(blob => download("simulation_results.zip", blob))
								   		 .catch(error => handle_error(error));
				}
				catch (error) {
					alert(error.message);
				}
			}
		</script>
	</head>

	<body>
		<div class="ribbon">
			<a href="http://localhost:8080/api/model/list">MODELS</a>
			<a href="http://localhost:8080/api/workflow/list">WORKFLOWS</a>
			<a href="http://localhost:8080/api/visualization/list">VISUALIZATION</a>
			<a href="http://localhost:8080/api/simulate">SIMULATION</a>
		</div>
		
		<main>
			<h1>Simulate model</h1>
			
			<div class="row">
				<label>Config file: </label><input id="file" type="file" />
			</div>
			
			<div class="row">
				<label>Iterations: </label><input id="iterations" type="numeric" />
			</div>
			
			<div class="row">
				<label>Duration: </label><input id="duration" type="numeric" />
			</div>
			
			<div class="row">
				<button id="simulate" th:attr="onclick=|on_click('http://localhost:8080/api/simulate')|">Simulate</button>
			</div>
		</main>
	</body>
</html>